<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('open'), admin_question_path(question) %></td>
  <td><%= link_to t('edit'), edit_admin_question_path(question) %></td>
  <td><%= delete_question(question) %></td>
</tr>
