<div class="row justify-content-center">
  <div class="col col-lg-8 col-md-10 ms-1">
    <div class="h1 mt-2 mb-4"><%= t('.header', test_title: @question.test.title) %></div>

    <%= render 'form' %>

    <div class="ms-1"><%= link_to t('back'), admin_test_path(@question.test), class: "link-secondary" %></div>
  </div>
</div>
