.svg-invert {
    filter: invert(100%);
}
.transparency-light-text {
    color: rgba(0, 0, 0, 0.55);
}
.transparency-dark-text {
    color: rgba(255, 255, 255, 0.55);
}
.bg-admin {
    background-color: #b02a37;
}
.pointer {
    cursor: pointer;
}
