<% if @test.questions.size > 0 %>
  <div>
    <div class="fs-4 mt-2 mb-3"><b><%= t('.table_title', test_title: @test.title) %></b></div>
    <table class="table table-hover text-wrap align-middle">
      <tr>
        <th scope="col"><%= t('.title') %></th>
        <th scope="col", colspan='3'><%= t('.actions') %></th>
      </tr>

      <%= render @test.questions %>
    </table>
  </div>
<% end %>
