<h1>Список тестов</h1>

<div>
  <%= link_to 'Создать тест', new_admin_test_path %>
</div><br>

<table>
  <tr>
	<th><b>Название</b></th>
	<th><b>Уровень</b></th>
  <th><b>Категория</b></th>
  <th><b>Кол-во вопросов</b></th>
  <th><b>Автор</b></th>
  <th colspan='3'><b>Действия</b></th>
  </tr>

  <%= render @tests %>
</table>
