<nav align="right">
  <%= home %>
  <%= signup unless logged_in? || current_page?(signup_path) %>
  <%= logged_in? ? logout : login unless current_page?(login_path) %>
</nav>

<nav align="right">
  <% if logged_in? %>
    Welcome, <b><%= current_user.name %></b> Guru
  <% end %>
</nav>