<nav align="right">
  <%= home_link %>
  <%= signup_link unless user_signed_in? || current_page?(new_user_registration_path) %>
  <%= user_signed_in? ? logout_link : login_link unless current_page?(new_user_session_path) %>
</nav>

<nav align="right">
  <% if user_signed_in? %>
    Welcome, <b><%= current_user.full_name %></b> Guru
  <% end %>
</nav>
