<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mailbox {
        border:  3px solid rgba(220,53,69, 0.66);
        border-radius: 9px;
        padding:  10px;
        width: 66%;
        margin: 5 auto;
        margin-top: 20px;
      }
    </style>
  </head>

  <body>
    <div class="mailbox">
      <%= yield %>
    </div>
  </body>
</html>
